@charset "UTF-8";

@media screen and (min-width:768px) and (max-width: 1080px) {
    section#login{
        max-width: 600px;
        margin: 100px auto;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 1081px){
        section#login{
        max-width: 1000px;
        margin: 100px auto;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }
}